[Unit]
Description=Mailbox synchronization service 

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va ;\
	  /usr/sbin/mu index -m ~/.mail
StandardOutput=syslog
StandardError=syslog
