*~
/.config/systemd/user/default.target.wants/
*.pyc
/.config/gtk-3.0/servers
/.config/tint2/snap.jpg
/.config/tint2/tint2rc.backup.1459174017
/.config/X/colors
/octave-workspace
**.wants
/emacs/.emacs.d/straight/
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/epkgs
/emacs/.emacs.d/eshell
/emacs/.emacs.d/meghanada
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/nov-places
/emacs/.emacs.d/recentf
/emacs/.emacs.d/transient
/emacs/.emacs.d/url
/emacs/.emacs.d/.lsp-session-v1
/emacs/.emacs.d/elpa/
