[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "emacs/.emacs.d/northcode-theme.el"]
	path = emacs/.emacs.d/northcode-theme.el
	url = git@github.com:Northcode/northcode-theme.el.git
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
