[Unit]
Description=Hledger-web-felles
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/hledger-web --server --host 10.0.0.10 --port 7000 -f /data/felles/budget.journal
Restart=always

[Install]
WantedBy=network.target
