[Unit]
Description=Hledger-felles-api
After=network.target

[Service]
Type=simple
WorkingDirectory=/data/felles
ExecStart=/usr/sbin/hledger-api --host 10.0.0.10 --port 5000 -f /data/felles/budget.journal
Restart=always

[Install]
WantedBy=network.target
