[Unit]
Description=Mailbox synchronization service 

[Service]
Type=oneshot
ExecStart=/home/andreas/bin/syncmail.sh
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=120s