[Unit]
Description=X screensaver
After=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/sbin/xscreensaver
Restart=always

[Install]
WantedBy=graphical.target